:root {
    --main-font: 'Roboto-Bold';
    --accent-font: 'Roboto-Regular';
    --weight-text: 400;
    --weight-text-title: 700;
    --background-color: #F2EDEF;
    --light-color: #FFFFFF;
    --main-color: #249AD7;
    --font-size-main: 18px;
    --font-size-title: 20px;
    --font-size-big-title: 28px;
    --font-size-litle: 14px;
    --main-line-hight: 21px;
    --hover-text: rgb(84, 169, 235);
    --uploader-color-text: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1C1C1C;
        --main-color: #009DC0;
        --light-color: #000000;
    }
}